/*Hoja de estilos*/
#entorno {
	display: block;
	margin: 0 auto;
}

#fondo {
	opacity: 0.3;
}
/* modal popup */

.modal-overlay {
	visibility: hidden;
  	opacity: 0;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 2.5s ease-in-out;
	-moz-transition: all 2.5s ease-in-out;
	-ms-transition: all 2.5s ease-in-out;
	-o-transition: all 2.5s ease-in-out;
	transition: all 2.5s ease-in-out;
  }
  
  .modal {
	visibility: hidden;
	opacity: 0;
	position: relative;
	width: 500px;
	height: 400px;
	max-height: 90%;
	max-width: 90%;
	min-height: 380px;
	margin: 0 auto;
	background: white;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	padding: 30px 10px;
	-webkit-transition: all 2.5s ease-in-out;
	-moz-transition: all 2.5s ease-in-out;
	-ms-transition: all 2.5s ease-in-out;
	-o-transition: all 2.5s ease-in-out;
	transition: all 2.5s ease-in-out;
  }
  .modal .winner {
	font-size: 80px;
	text-align: center;
	font-family: "Anton", sans-serif;
	color: #4d4d4d;
	text-shadow: 0px 3px 0 black;
  }
  @media (max-width: 480px) {
	.modal .winner {
	  font-size: 60px;
	}
  }
  .modal .restart {
	font-family: "Anton", sans-serif;
	margin: 30px auto;
	padding: 20px 30px;
	display: block;
	font-size: 30px;
	border: none;
	background: #4d4d4d;
	background: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#222));
	background: linear-gradient(#4d4d4d, #222);
	border: 1px solid #222;
	border-radius: 5px;
	color: white;
	text-shadow: 0px 1px 0 black;
	cursor: pointer;
  }
  .modal .restart:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(black));
	background: linear-gradient(#222, black);
  }
  .modal .message {
	text-align: center;
  }
  .modal .message a {
	text-decoration: none;
	color: #28afe6;
	font-weight: bold;
  }
  .modal .message a:hover {
	color: #56c0eb;
	border-bottom: 1px dotted #56c0eb;
  }
  .modal .share-text {
	text-align: center;
	margin: 10px auto;
  }
  .modal .social {
	margin: 20px auto;
	text-align: center;
  }
  .modal .social li {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-right: 10px;
  }
  .modal .social li:last-child {
	margin-right: 0;
  }
  .modal .social li a {
	display: block;
	line-height: 50px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	border-radius: 5px;
  }
  .modal .social li a.facebook {
	background: #3b5998;
  }
  .modal .social li a.facebook:hover {
	background: #4c70ba;
  }
  .modal .social li a.google {
	background: #D34836;
  }
  .modal .social li a.google:hover {
	background: #dc6e60;
  }
  .modal .social li a.twitter {
	background: #4099FF;
  }
  .modal .social li a.twitter:hover {
	background: #73b4ff;
  }
/* end modal popup */